<div class='container mx-auto py-8'>
    <h1 class="mb-4 text-3xl font-extrabold text-gray-900 md:text-5xl lg:text-4xl"><span
            class="text-transparent bg-clip-text bg-gradient-to-l to-red-400 from-sky-400">Bình Luận</span></h1>
    <div className='mb-8'>

    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        id
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Tên tài khoản
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nội dung
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Số sao
                    </th> 
                </tr>
            </thead>
            <tbody>
                {{#each comments}}
                <tr class="bg-white border-b">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        {{this._id}}
                    </th>
                    <td class="px-6 py-4">
                        {{id_account.name}}
                    </td>
                    <td class="px-6 py-4">
                        {{this.content}}
                    </td>
                    <td class="px-6 flex py-4">
                        {{#each (sequence this.rating)}}
                        <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg> 
                        {{/each}}
                    </td>
                </tr>
                
                {{/each}}
            </tbody>
        </table>
    </div>
</div>