<nav class="bg-white border-gray-200 ">
  <div class="max-w-screen- w-full container flex flex-wrap items-center justify-between mx-auto ">
    <a href="/" class="flex justify-start">
      <img src="https://imgv3.fotor.com/images/blog-richtext-image/CNN-Logo.png" class="h-[80px] w-full"
        alt="Flowbite Logo" />
    </a>
    <div class="flex md:order-2 items-center">
      {{#if user}}
      <p class="font-bold">Xin chào {{user.name}}</p>
      <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown"
        class="text-red-600 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center"
        type="button">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
        <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 4 4 4-4" />
        </svg>
      </button>
      <div id="dropdown"
        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-[0_2.8px_2.2px_rgba(0,_0,_0,_0.034),_0_6.7px_5.3px_rgba(0,_0,_0,_0.048),_0_12.5px_10px_rgba(0,_0,_0,_0.06),_0_22.3px_17.9px_rgba(0,_0,_0,_0.072),_0_41.8px_33.4px_rgba(0,_0,_0,_0.086),_0_100px_80px_rgba(0,_0,_0,_0.12)] w-44 ">
        <ul class="py-2 text-sm text-red-600 " aria-labelledby="dropdownDefaultButton">
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-red-600 dark:hover:text-white">Thông tin cá nhân</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-red-600 dark:hover:text-white">Danh sách yêu thích</a>
          </li>
          <li>
            {{#isEqual user.role "admin"}}
            <a href="/admin/dashBoard" class="block px-4 py-2 hover:bg-red-600 dark:hover:text-white">Quản lí Admin</a>
          </li>
          {{/isEqual}}
          <li class="px-4 w-100 block py-2 hover:bg-red-600 hover:text-white">
            <form method="POST" action="/account/logout">
              <button type="submit">Đăng xuất</button>
            </form>
          </li>
        </ul>
      </div>
      {{else}}
      <a href="/account/login">
        <button type="button"
          class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-md text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Đăng
          Nhập
        </button>
      </a>
      {{/if}}
      <button data-collapse-toggle="navbar-cta" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-cta" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>

    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
      <div class="flex flex-start items-center">
        <form action="/listBook/search" method="POST">
          <label for="default-search" class="mb-2 text-sm font-medium text-white sr-only dark:text-white">Search</label>
          <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            </div>
            <input type="search" id="default-search" name="search"
              class="block w-[550px] p-2 pl-6 text-sm  border border-gray-300 rounded-lg bg-gray-50 focus:ring-red-500 focus:border-red-500 "
              placeholder="Nhập tên sách , isnb , tác giả ,...." required>
            <button type="submit"
              class="text-white absolute right-3 bottom-1 bg-red-500 hover:bg-red-400 focus:ring-4 focus:outline-none focus:ring-red-200 font-medium rounded-lg text-sm px-4 py-2">
              <svg class="w-10 h-3 text-gray-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
              </svg>
            </button>
          </div>
        </form>
      </div>
      <ul
        class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white">
        <li>
          <a href="/"
            class="block py-2 ml-7 pl-3 pr-4 text-gray-500 bg-red-700 hover:text-red-500 rounded md:bg-transparent md:p-0"
            aria-current="page">Trang Chủ</a>
        </li>
        <li>
          <a href="/listBook"
            class="block py-2 pl-3 pr-4 text-gray-500 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-red-700 md:p-0 md:dark:hover:text-red-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Thư
            Viện Sách
          </a>
        </li>
        <li>
          <a href="/news"
            class="block py-2 pl-3 pr-4 text-gray-500 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-red-700 md:p-0 md:dark:hover:text-red-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Sự
            Kiện</a>
        </li>
        <li>
          <a href="/contact"
            class="block py-2 pl-3 pr-4 text-gray-500 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-red-700 md:p-0 md:dark:hover:text-red-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Liên
            hệ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>